* {
    margin: auto, auto;
}

hr {
    background: blue;
    width: 120px;
    height: 5px;
    margin-top: 30pt;
}

header {
    width: 380px;
    margin: 0 auto;
}

main {
    width: 380px;
    margin: 0 auto;
}